*{
    font-family: Monaco;

}
body{
    background-color: lightgoldenrodyellow;
}
    
div > img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
}
.menu, .ll{
    text-align: center;
    color:rgb(112, 112, 1);
    font-size: 50px;
}

.ll{
    font-size: 80px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1a1b10;
    
}

.menu-container {
    max-width: auto;
    display: flex;
    justify-content: center;
    
}



.section{
    padding: 10px;
}
.label{
    font-weight: bold;
}

.description{
    font-style: italic;
    border-top: 2px solid #cdcd12;
}

.item-name{
    margin: 25px;
    font-size: 18px;
}
b{
    float:right;
    margin-top: -18px;
    color:rgb(97, 100, 2);
}
div > h3{
    font-size: 25 px;
    margin: 20px;
    text-align: center;
    color: #41490c;
}
.label +.low{
    color: rgb(97, 100, 2);
}
div ~ div{
    color: rgb(89, 107, 9);
}